<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: azure;
        }
    </style>
    <title>Дневник</title>
</head>
<body>
    <div class="container" style="padding-top: 2%">
        <H2>Страница регистрации нового пользвователя</H2><br>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-3" style="padding-top: 5%">
                    <div th:if="${message}">
                        <p style="color: red">User exist!</p>
                    </div>
                    <form th:action="@{/get/registration}"  th:object="${account}" method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><span class="material-icons">mood</span></span>
                            <input th:field="*{login}" type="text" class="form-control" placeholder="Логин" aria-label="" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><span class="material-icons">task_alt</span></span>
                            <input th:field="*{firstName}" type="text" class="form-control" placeholder="Имя" aria-label="" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><span class="material-icons">task_alt</span></span>
                            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Фамилия" aria-label="" required>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="gender"><span class="material-icons">people_outline</span></label>
                            <select th:field="*{gender}" class="form-select" id="gender" required>
                                <option th:value="MAN">Мальчик</option>
                                <option th:value="WOMAN">Девочка</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><span class="material-icons">pregnant_woman</span></span>
                            <input th:field="*{birthDate}" type="date" class="form-control" placeholder="Дата рождения" aria-label="" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><span class="material-icons">vpn_key</span></span>
                            <input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" aria-label="" required>
                        </div>
                        <div class="container-fluid" style="text-align: center">
                            <a class="btn btn-primary" type="button" th:href="@{/login}" style="width: 48%">Назад</a>
                            <input class="btn btn-primary" type="submit" value="Продолжить" style="width: 48%"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>